

* {
  box-sizing: border-box;
  &::after,
  &::before {
    box-sizing: border-box;
  }
}

body {
  user-select: none;
  overflow-x: hidden;
  font-size: 14px;
  line-height: 1;
  font-family: $font-main;
  background-color: $white;
  color: $primary;
  &.no-scroll {
    overflow: hidden;
  }
}

a {
  text-decoration: none;
}

.container {
  padding: 0 30px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 720px;
  }
}
