/*
font-family: 'Inter',
sans-serif;
font-family: 'Onest',
sans-serif;
font-family: 'Poppins',
sans-serif;
font-family: 'Sora',
sans-serif;
*/

// Fonts
$font-main: 'Inter', sans-serif;
$font-nav: 'Poppins', sans-serif;
$font-btn: 'Onest', sans-serif;
$font_contacts: 'Sora', sans-serif;

// Colors
$accent: #FF5C00;
$primary: #030302;
$text: #838383;
$white: #FFFFFF;
$text-second: #838383;
$text-grey: #333333;